@charset "UTF-8";

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.menu {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 0;
  position: sticky;
}

.menu__logo {
  max-width: 183px;
  width: 100%;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  white-space: nowrap;
  margin: 0 20px;
  display: inline-block;
}

.menu__link:hover {
  color: #00b9b6;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  background: #01d3d0;
  -webkit-box-shadow: 0px 15px 30px rgba(182, 192, 202, 0.25);
          box-shadow: 0px 15px 30px rgba(182, 192, 202, 0.25);
  border-radius: 12px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 20px;
  padding: 12px 30px;
  color: white;
}

.btn:hover {
  background: #109e9c;
  -webkit-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.nav-toggle {
  display: none;
  width: 30px;
  padding: 15px 0;
  position: absolute;
  top: 35px;
  right: 30px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00b9b6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #333333;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  bottom: -8px;
}

.nav-toggle.active {
  background-color: none;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-2px);
      -ms-transform: rotate(45deg) translateX(-2px);
          transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
      -ms-transform: rotate(-45deg) translateX(-3px);
          transform: rotate(-45deg) translateX(-3px);
}

.header {
  margin: 140px 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left-content {
  max-width: 644px;
  margin-top: 40px;
}

.header__left-title {
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header__left-subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #0e0e0f;
  margin-bottom: 50px;
}

.header__left-button {
  margin: 0 0 120px 0;
}

.header__left-button:hover {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.download {
  margin: 140px 0;
}

.download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__content-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 615px;
  width: 100%;
  height: 342px;
  border-radius: 24px;
  cursor: pointer;
}

.download__content-video:hover .download__content-videoplay {
  opacity: 1;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.download__content-videoplay {
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
}

.download__content-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

.download__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
}

.download__content-blocklogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__content-logo {
  width: 90px;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__content-text {
  margin-left: 20px;
}

.download__content-textlogo {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #00b9b6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.download__content-textdescription {
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.download__content-store {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__content-storeapple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid beige;
  background-color: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
  margin-right: 20px;
}

.download__content-storeapple:hover {
  background-color: #39486d;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.download__content-storegoogle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 133px;
  height: 44px;
  border: 1px solid beige;
  background-color: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
}

.download__content-storegoogle:hover {
  background-color: #39486d;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.people {
  margin-bottom: 190px;
}

.people__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people__content-top {
  margin-bottom: 55px;
}

.people__content-center-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people__content-center-link {
  display: inline-block;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 5px;
  white-space: nowrap;
  padding: 10px 30px;
  margin: 7.5px;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.people__content-center-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #00b9b6;
}

.people__content-bottom {
  margin-top: 50px;
}

.people__content-bottoms-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.people__content-bottoms-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
  padding: 15px;
}

.people__content-bottoms-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.people__content-bottoms-card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 15px 0px;
}

.people__content-bottoms-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-active {
  background: -o-linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  color: #ffffff;
}

.people-active:hover {
  color: #ffffff;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: gold;
}

.help {
  margin-bottom: 210px;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__text-title {
  margin: 40px 0px;
}

.help__text-item {
  position: relative;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: 30px;
  margin-bottom: 15px;
}

.help__text-item::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: rgba(0, 185, 182, 0.1);
  color: #00b9b6;
  border-radius: 100%;
}

.help__text-item:hover {
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.plus {
  margin-bottom: 140px;
}

.plus__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  padding: 30px;
  position: relative;
}

.plus__content-img img {
  position: absolute;
  top: -70px;
  left: 0;
}

.plus__content-img img:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.plus__content-block {
  margin-left: 350px;
  margin-bottom: 100px;
}

.plus__content-title {
  margin: 40px 0;
}

.plus__content-text {
  margin: 10px;
}

.plus__content-subtitle {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 5px 0px;
}

.plus__content-subtitle::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: 0;
  top: 9px;
  background: #00b9b6;
  margin-left: -10px;
}

.plus__content-description {
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.specpeople {
  margin-bottom: 140px;
}

.specpeople__content-top {
  margin-bottom: 60px;
}

.specpeople__content-title {
  margin: 5px 0;
}

.specpeople__content-subtitle {
  font-size: 18px;
  line-height: 140%;
  color: #00b9b6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.specpeople__content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specpeople__content-bottom-section {
  margin-bottom: 70px;
}

.specpeople__content-bottom-section:last-child {
  margin-bottom: 0;
}

.specpeople__content-bottom-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0e0e0f;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0;
}

.specpeople__content-bottom-subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.class1 {
  position: relative;
  margin-left: 40px;
}

.class1::before {
  content: "1";
  position: absolute;
  top: -20px;
  left: 0;
  margin-left: -50px;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00b9b6;
  opacity: 0.1;
}

.class2 {
  position: relative;
  margin-left: 40px;
}

.class2::before {
  content: "2";
  position: absolute;
  top: -20px;
  left: 0;
  margin-left: -50px;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00b9b6;
  opacity: 0.1;
}

.class3 {
  position: relative;
  margin-left: 40px;
}

.class3::before {
  content: "3";
  position: absolute;
  top: -20px;
  left: 0;
  margin-left: -50px;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00b9b6;
  opacity: 0.1;
}

.about {
  margin-bottom: 145px;
}

.about__content {
  text-align: center;
}

.about__title {
  margin-bottom: 50px;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__values {
  margin-left: 95px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__values-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #ffa800;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 0px;
}

.about__values-subtitle {
  font-size: 18px;
  line-height: 140%;
  color: #0e0e0f;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 0px;
}

.about__bottom {
  margin-top: 65px;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.about__cards-card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
  padding: 20px 30px;
}

.about__cards-card1:hover {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.about__cards-img {
  margin-right: 10px;
}

.about__cards-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.about__cards-subtitle {
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.about__cards-card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
  padding: 20px 30px;
}

.about__cards-card2:hover {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.howwork {
  margin-bottom: 140px;
}

.howwork__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howwork__content-titlee {
  text-align: center;
  margin-bottom: 70px;
}

.howwork__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howwork__content-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23.333%;
          flex: 1 0 23.333%;
}

.howwork__left-text {
  margin: 60px 0 100px;
  max-width: 310px;
}

.howwork__content-center {
  margin: 0 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23.333%;
          flex: 1 0 23.333%;
}

.howwork__content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23.333%;
          flex: 1 0 23.333%;
}

.howwork__right-text {
  margin: 60px 0 100px;
  max-width: 310px;
}

.howwork__button {
  color: #00b9b6;
  background: #f9fdff;
  border: 1px solid #00b9b6;
}

.howwork__button:hover {
  color: #f9fdff;
}

.block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #0e0e0f;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 10px;
}

.block-subtitle {
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.block-subtitle-span {
  color: #00b9b6;
}

.block-beffore1 {
  position: relative;
  margin-left: 30px;
}

.block-beffore1::before {
  content: "1";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  width: 35px;
  height: 35px;
  font-weight: 700;
  font-size: 20px;
  color: #00b9b6;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 100%;
  margin-left: -40px;
}

.block-beffore2 {
  position: relative;
  margin-left: 30px;
}

.block-beffore2::before {
  content: "2";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  width: 35px;
  height: 35px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background: #00b9b6;
  border-radius: 100%;
  margin-left: -40px;
}

.block-beffore3 {
  position: relative;
  margin-left: 30px;
}

.block-beffore3::before {
  content: "3";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  width: 35px;
  height: 35px;
  font-weight: 700;
  font-size: 20px;
  color: #00b9b6;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 100%;
  margin-left: -40px;
}

.block-beffore4 {
  position: relative;
  margin-left: 30px;
}

.block-beffore4::before {
  content: "4";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  width: 35px;
  height: 35px;
  font-weight: 700;
  font-size: 20px;
  color: #00b9b6;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 100%;
  margin-left: -40px;
}

.uslugi-block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.uslugi-block-price {
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 5px;
}

.uslugi-block-text {
  font-size: 18px;
  line-height: 140%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
}

.uslugi {
  margin-bottom: 160px;
}

.uslugi__contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uslugi__title {
  margin-bottom: 50px;
}

.uslugi__left {
  color: #333333;
  background: rgba(0, 185, 182, 0.1);
  border-radius: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 30px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.uslugi__left-text {
  margin: 30px 0;
}

.uslugi__left-text div {
  margin-bottom: 10px;
}

.uslugi__left-text-one {
  position: relative;
  margin-left: 30px;
}

.uslugi__left-text-one::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: rgba(0, 185, 182, 0.1);
  color: #00b9b6;
  border-radius: 100%;
}

.uslugi__left-text-two {
  position: relative;
  margin-left: 30px;
}

.uslugi__left-text-two::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: rgba(0, 185, 182, 0.1);
  color: #00b9b6;
  border-radius: 100%;
}

.uslugi__left-button {
  display: inline-block;
  margin: 0;
  background: #ffffff;
  color: #00b9b6;
  cursor: pointer;
}

.uslugi__left-button:hover {
  color: #ffffff;
}

.uslugi__right {
  position: relative;
  color: #ffffff;
  background: #00b9b6;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 24px;
  padding: 30px;
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.uslugi__right-popular {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding: 10px 15px;
  background: #ffa800;
  border-radius: 0px 24px 0px 12px;
}

.uslugi__right-popular-star {
  margin-left: 10px;
}

.uslugi__right-text {
  margin: 30px 0;
}

.uslugi__right-text div {
  margin-bottom: 10px;
}

.uslugi__right-text-one {
  position: relative;
  margin-left: 30px;
}

.uslugi__right-text-one::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: #40cbc8;
  color: #ffffff;
  border-radius: 100%;
}

.uslugi__right-text-two {
  position: relative;
  margin-left: 30px;
}

.uslugi__right-text-two::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: #40cbc8;
  color: #ffffff;
  border-radius: 100%;
}

.uslugi__right-text-three {
  position: relative;
  margin-left: 30px;
}

.uslugi__right-text-three::before {
  position: absolute;
  content: "✔";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  margin-left: -30px;
  background-color: #40cbc8;
  color: #ffffff;
  border-radius: 100%;
}

.uslugi__form-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uslugi__form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  font-size: 18px;
  line-height: 135%;
  background: #ffffff;
  border-radius: 12px;
  max-width: 430px;
  width: 100%;
  padding: 12px 0;
}

.uslugi__form-left-input1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  border-right: 2px solid #e0e0e0;
}

.uslugi__input1-value1 {
  position: relative;
  padding-left: 30px;
}

.uslugi__input1-value1::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 20px;
  left: 0px;
  background: url(/img/icon_left.png) center center no-repeat;
  cursor: pointer;
}

.uslugi__input1-value1::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 20px;
  left: 62px;
  background: url(/img/icon_right.png) center center no-repeat;
  cursor: pointer;
}

.uslugi__input1-index1 {
  color: #afafaf;
}

.uslugi__form-left-input2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
}

.uslugi__input2-index2 {
  color: #afafaf;
}

.uslugi__form-button {
  font-size: 18px;
  background: #ffffff;
  color: #00b9b6;
  cursor: pointer;
}

.uslugi__form-button:hover {
  color: #ffffff;
}

.price-span {
  font-size: 24px;
  line-height: 140%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.download2 {
  margin-bottom: 130px;
  margin: 140px 0;
}

.download2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download2__content-phone {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.download2__content-apps {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 433px;
}

.download2__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
}

.download2__content-blocklogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download2__content-logo {
  width: 90px;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download2__content-text {
  margin-left: 20px;
}

.download2__content-textlogo {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #00b9b6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.download2__content-textdescription {
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 5px 0px;
}

.download2__content-store {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download2__content-storeapple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid beige;
  background-color: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
  margin-right: 20px;
}

.download2__content-storeapple:hover {
  background-color: #39486d;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.download2__content-storegoogle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 133px;
  height: 44px;
  border: 1px solid beige;
  background-color: #2e3a59;
  -webkit-box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
          box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 8px;
}

.download2__content-storegoogle:hover {
  background-color: #39486d;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.otziv {
  margin-bottom: 150px;
}

.otziv__title {
  margin-bottom: 50px;
}

.otziv__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.otziv__slider-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.otziv__slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 530px;
  margin: 0 10px;
  padding: 30px;
}

.otziv__slider-card:first-child {
  margin-left: 0;
}

.otziv__slider-card:last-child {
  margin-right: 0;
}

.otziv__card-img {
  padding-right: 30px;
}

.otziv__card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.otziv__card-name-title {
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.otziv__card-job {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 10px;
}

.otziv__card-descr {
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.psiholog {
  margin-bottom: 140px;
}

.psiholog__content {
  color: #0e0e0f;
}

.psiholog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 1120px;
  max-width: 550px;
}

.psiholog__block p {
  margin-bottom: 15px;
}

.psiholog__card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 20px;
}

.psiholog__card-subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 10px 20px 30px 0;
}

.psiholog__card-subtitle li {
  position: relative;
  margin: 0 0 5px 10px;
}

.psiholog__card-subtitle li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  height: 5px;
  width: 5px;
  margin-left: -10px;
  border-radius: 100%;
  background: #0e0e0f;
}

.footer__content {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__links1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__links1 li {
  margin: 0 30px;
}

.footer__links1 li:first-child {
  margin-left: 0;
}

.footer__links1 li:last-child {
  margin-right: 0;
}

.footer__links2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  text-decoration: none;
}

.footer__links2 li {
  margin: 0 15px;
}

.footer__links2 li:first-child {
  margin-left: 0;
}

.footer__links2 li:last-child {
  margin-right: 0;
}

.footer__link:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #01bdb4;
}

.footer__link2:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #01bdb4;
}

.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.footer__social {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social li {
  margin: 0 10px;
}

.footer__social li:first-child {
  margin-left: 0;
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__social-link:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.footer__mail {
  margin: 0 0 20px 30px;
  position: relative;
  text-decoration: none;
}

.footer__mail a {
  color: #333333;
}

.footer__mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  cursor: pointer;
  background: url(/img/mail.svg) center center no-repeat;
}

.footer__addres {
  margin-left: 30px;
  position: relative;
}

.footer__addres::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background: url(/img/pin.svg) center center no-repeat;
}

.footer-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  color: #333333;
}

body {
  font-family: Inter;
  background: rgba(249, 253, 255, 0.7);
  -webkit-backdrop-filter: blur(700px);
          backdrop-filter: blur(700px);
}

.container {
  max-width: 1120px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.titleblock {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0e0e0f;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}


@media (max-width: 1024px) {
  .header {
    margin-bottom: 90px;
  }

  .header__content {
    position: relative;
  }

  .header__rigth {
    position: absolute;
    top: -33px;
    right: -20px;
  }

  .download__content-video {
    max-width: 530px;
  }

  .download__content-video > img {
    width: 600px;
  }

  .download__content-title {
    margin-bottom: 27px;
  }

  .download__content-store {
    margin-top: 55px;
  }

  .people__content-bottoms-card-name {
    font-size: 14px;
  }

  .people__content-bottoms-card-img img {
    height: 142px;
    width: 142px;
  }

  .rating-mini span {
    font-size: 16px;
  }

  .howwork__content-center {
    margin: 0 45px;
  }

  .psiholog__block {
    max-width: 460px;
    max-height: 1220px;
  }

  .container {
    max-width: 1024px;
    padding: 0 40px;
  }
}

@media (max-width: 820px) {
  .menu__content {
    display: block;
  }

  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__link {
    margin: 20px;
  }

  .btn {
    margin: 0px;
  }

  .nav-toggle.nav-toggle {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  .header__left-subtitle {
    font-size: 32px;
    max-width: 387px;
  }

  .header__rigth {
    position: absolute;
    top: 40px;
    right: -20px;
  }

  .header__rigth img {
    width: 404px;
    height: 300px;
  }

  .download {
    margin: 85px 0;
  }

  .download__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download__content-video {
    max-width: 530px;
  }

  .download__content-video > img {
    max-width: 100%;
  }

  .download__content-apps {
    margin-left: 0px;
  }

  .download__content-title {
    font-size: 24px;
    text-align: center;
  }

  .download__content-textlogo {
    font-size: 18px;
  }

  .download__content-textdescription {
    font-size: 14px;
  }

  .people {
    margin-bottom: 150px;
  }

  .people__content-top-title {
    font-size: 28px;
  }

  .people__content-center-link {
    font-size: 16px;
  }

  .people__content-bottoms-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .people__content-bottoms-card {
    margin: 10px;
    max-width: 210px;
  }

  .help {
    margin-bottom: 150px;
  }

  .help__imeg {
    height: 300px;
  }

  .help__imeg img {
    width: 330px;
  }

  .help__text-title {
    font-size: 28px;
  }

  .help__text-item {
    font-size: 16px;
  }

  .plus {
    margin-bottom: 100px;
  }

  .plus__content {
    height: 450px;
  }

  .plus__content-img img {
    width: 260px;
  }

  .plus__content-block {
    margin-left: 235px;
  }

  .plus__content-title {
    font-size: 28px;
  }

  .plus__content-subtitle {
    font-size: 18px;
  }

  .plus__content-description {
    font-size: 16px;
  }

  .specpeople__content-title {
    font-size: 28px;
  }

  .specpeople__content-bottom-section {
    margin-bottom: 40px;
  }

  .specpeople__content-bottom-title {
    font-size: 18px;
  }

  .specpeople__content-bottom-subtitle {
    font-size: 16px;
  }

  .specpeople__content-bottom-img img {
    width: 317px;
  }

  .about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__values {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about__valuse-card {
    margin: 0 25px;
  }

  .about__bottom {
    margin-top: 25px;
  }

  .about__cards-card1 {
    padding: 20px;
  }

  .about__cards-title {
    font-size: 18px;
  }

  .about__cards-subtitle {
    font-size: 15px;
  }

  .about__cards-card2 {
    padding: 20px;
  }

  .important {
    max-width: 600px;
  }

  .important img {
    max-width: 100%;
  }

  .howwork {
    display: none;
  }

  .uslugi-block-price {
    font-size: 38px;
  }

  .uslugi-block-text {
    font-size: 16px;
  }

  .uslugi__title {
    font-size: 28px;
  }

  .uslugi__form-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .uslugi__form-left {
    margin-bottom: 20px;
  }

  .price-span {
    font-size: 18px;
  }

  .download2 {
    margin: 90px 0;
  }

  .download2__content-title {
    font-size: 28px;
  }

  .download2__content-phone img {
    max-width: 100%;
  }

  .otziv {
    margin-bottom: 90px;
  }

  .otziv__title {
    font-size: 28px;
  }

  .otziv__slider-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .otziv__slider-card {
    margin: 10px 0;
  }

  .psiholog {
    margin-bottom: 30px;
  }

  .psiholog__block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: none;
    max-height: none;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 0;
  }

  .footer__left {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .menu__logo img {
    width: 92px;
  }

  .nav-toggle {
    top: 25px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__left-title {
    font-size: 16px;
    text-align: center;
  }

  .header__left-subtitle {
    font-size: 28px;
    text-align: center;
  }

  .header__left-button {
    margin: 0 65px;
  }

  .header__rigth {
    position: relative;
    top: 15px;
    right: 0px;
  }

  .header__rigth img {
    width: 320px;
    height: 260px;
  }

  .people {
    margin-bottom: 40px;
  }

  .people__content-top-title {
    font-size: 24px;
  }

  .people__content-center-link {
    font-size: 14px;
  }

  .people__content-bottom {
    margin-top: 10px;
  }

  .help__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .help__text-title {
    font-size: 24px;
    text-align: center;
  }

  .plus__content {
    padding: 10px;
    height: auto;
  }

  .plus__content-img img {
    left: 30px;
  }

  .plus__content-block {
    margin: 280px 0 20px;
  }

  .plus__content-title {
    font-size: 24px;
    text-align: center;
  }

  .specpeople {
    margin-bottom: 50px;
  }

  .specpeople__content-title {
    font-size: 24px;
    text-align: center;
  }

  .specpeople__content-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .specpeople__content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title {
    font-size: 24px;
  }

  .about__valuse-card {
    margin: 0;
    text-align: center;
    padding: 0 10px;
  }

  .about__values-title {
    font-size: 20px;
  }

  .about__values-subtitle {
    font-size: 14px;
    text-align: center;
  }

  .about__bottom {
    margin-top: 0px;
  }

  .about__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__cards-card1 {
    padding: 10px;
    margin-bottom: 10px;
  }

  .about__cards-card2 {
    padding: 10px;
  }

  .uslugi__contentbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .uslugi__left {
    margin-right: 0px;
  }

  .uslugi__left-button {
    width: 100%;
  }

  .uslugi__right {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .uslugi__form-button {
    width: 100%;
  }

  .download2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .download2__content-phone img {
    max-width: 100%;
  }

  .download2__content-title {
    font-size: 24px;
  }

  .download2__content-textlogo {
    font-size: 18px;
  }

  .download2__content-textdescription {
    font-size: 14px;
  }

  .otziv__slider-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }

  .otziv__card-img {
    margin-bottom: 10px;
  }

  .container {
    padding: 0 20px;
  }
}